.elementor-kit-3 {
    --e-global-color-primary: #08172E;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #777C83;
    --e-global-color-accent: #0D8A4F;
    --e-global-color-026a526: #B0BAC7;
    --e-global-color-1feb05a: #F5F5F5;
    --e-global-color-33b01ef: #0D8A4F;
    --e-global-color-226b4d3: #1B3168;
    --e-global-color-2b5744a: #301C0AA1;
    --e-global-color-b288bab: #E6E8EA;
}